@font-face {
  font-family: Ranga;
  src: url("../assets/fonts/ranga/Ranga-Regular.ttf");
}
@font-face {
  font-family: Ranga;
  font-weight: bold;
  src: url("../assets/fonts/ranga/Ranga-Bold.ttf");
}

:root {
  --main-bg-color: #27ae60;
}

body {
  overflow-x: hidden;
}

.btn-no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.logo {
  width: 106px;
  height: 65px;
  background-image: url("../assets/logo.png");
}

.div-as-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-bar .form-control {
  border-radius: 1.25rem;
}

.search-bar i {
  top: 8px;
  right: 11px;
  font-size: 1.3rem;
}

.header-icons button i,
.header-icons span i {
  font-size: 1.5rem;
}

.accecibility-icon {
  color: #0099cc;
  font-size: 2rem !important;
  top: 17px;
}

.categories-bar {
  background-color: var(--main-bg-color);
}

.categories-bar a {
  text-decoration: none;
  color: inherit;
}

.categories-bar ul {
  list-style: none;
  /* float: left; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-weight: bold;
  color: white;
}

.categories-bar ul li {
  float: left;
}

.banner {
  position: relative;
  overflow: auto;
}
.banner li {
  list-style: none;
}
.banner ul li {
  float: left;
}

.unslider-nav {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.unslider {
  position: relative;
}

.arrow-wrapper {
  position: absolute;
  width: 100%;
  top: 100px;
  font-size: 4rem;
}

.bread-crumb > div > div {
  background-color: #d7af93;
}

.item-visualisation {
  background-color: #d3d3d3;
}

.filter-wrapper h2,
.filter-mobile h2 {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #8c68bd;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.product-image {
  height: 120px;
  width: 100%;
}

.item-image {
  height: 2px;
}

.product h3 {
  font-size: 1.5rem;
}

.prod-qtty-handler button {
  border: none;
  background-color: var(--main-bg-color);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  padding: 0;
  line-height: 14px;
  padding-bottom: 6px;
  color: white;
  font-size: 28px;
}

.prod-add-cart button {
  border: 1;
  background-color: #8c68bd;
  border-radius: 12px;
  font-size: 15px;
  font-family: FontAwesome;
  color: #fff;
}

.prod-qtty-handler {
  border: 1px solid var(--main-bg-color);
  display: flex;
  border-radius: 24px;
  padding: 2px;
  justify-content: space-between;
  max-width: 110px;
  margin: 0 auto;
}

.prod-qtty-handler span {
  color: var(--main-bg-color);
}

.prod-price {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 7px;
}

.login-modal-logo img {
  float: left;
  width: 90px;
  height: 90px;
}

.login-modal-logo h6 {
  line-height: 90px;
  font-family: Ranga;
  font-size: 3rem;
}

.login-form-wrapper > div {
  width: 300px;
}

.login-form-wrapper button {
  width: 100%;
}

.login-form-wrapper .submit-button {
  background-color: var(--main-bg-color);
}

.login-form-wrapper .fb-button {
  background-color: #3b5998;
}

.login-form-wrapper .login-form-link {
  text-align: right;
}
.login-form-wrapper .login-form-link a {
  color: #00bed8;
}

.divisor span {
  top: -16px;
  width: 32px;
  margin: 0 auto;
}

.list-icon {
  font-size: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.colapsed-menu ul li {
  text-align: right;
}

.category-select {
  position: relative;
}

.category-select select option {
  color: black;
}

.category-select select {
  background: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  -moz-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.category-select::after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 10px;
  pointer-events: none;
}

.link-style {
  color: #00bed8;
}

footer {
  background-color: var(--main-bg-color);
}

.band-img-wrapper img {
  width: 56px;
}

.social-icons-wrapper i {
  font-size: 4rem;
}

.main-content {
  min-height: 200px;
}

@media only screen and (max-width: 768px) {
  .product-image {
    height: 250px;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

main a {
  text-decoration: none;
}

